
/* BASIC SETUP */

@font-face {
	font-family: koala_cyr;
	src: local(koala_cyr), url(../fonts/koala_cyr.ttf);
	src: url(../fonts/koala_cyr-webfont.eot); /* Для IE5-8 */
}
@font-face {
	font-family: Lucida_Bright_Italic;
	src: local(Lusida), url(../fonts/Lucida_Bright_Italic.ttf);
	src: url(../fonts/Lucida_Bright_Italic.eot); /* Для IE5-8 */
}
html,body{
	width: 100%;
	height: 100%;
	min-height: 100%;
	color: #555;
	font-family: 'PT Sans',Arial,sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-rendering: optimizeSpeed;
}
.bg{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	background-image: url(../img/Bg_main1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
}
h2{
	font-weight: bold;
	color: #5bc0de;
	margin: 3% 0;
}
section{
	padding: 2%;
	margin-bottom: 5%;
}
.bg_white{
	background-color: rgba(255,255,255, .7);
	border-radius: 10px;
}
.bg_black{
	background-color: rgba(0,0,0, .5);
}
.img-responsive{
	margin: 0 auto;
}

/* NAV */

nav{
	display: none;
	opacity: 0;
	transition: .8s;
}
nav.sticky{
	display: block;
	opacity: 1;
}

/* HEADER */

header{
	position: relative;
	height: 100vh;
}
.logo{
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	color: #5bc0de;
	padding: 0 5%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);

}
.logo:hover, .scroll_down:hover{
	text-decoration: none;
	color: #5bc0de;
}
.spin{
	display: inline-block;
	font-family: 'Volkhov', 'Times New Roman', Times, serif;
	font-size: 190%;
	font-style: italic;
	font-weight: bold;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-animation-name: spin;
	animation-name: spin;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.spin.delay2{
	margin-right: 15px;
}
.inline-block{
	display: inline-block;
}
.drop{
	display: block;
	font-family: 'Yellowtail', cursive, Arial, serif;
	font-size: 120%;
	color: #fff;
	margin-top: 15px;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: center top;
	-ms-transform-origin: center top;
	transform-origin: center top;
	-webkit-animation-name: drop;
	animation-name: drop;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.delay01{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delay1{
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
.delay2{
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.delay3{
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
.delay4{
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
.delay5{
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.delay6{
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.delay7{
	-webkit-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.delay8{
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s;
}
.delay9{
	-webkit-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
.delay10{
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.delay11{
	-webkit-animation-delay: 2.1s;
	animation-delay: 2.1s;
}
.delay12{
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
.scroll_down{
	position: absolute;
	left: 50%;
	bottom: 10%;
	color: #5bc0de;
}

/* ABOUT ME */

.about p{
	font-size: 130%;
	padding: 2% 4%;
}
.about img{
	padding: 5%;
}

/* PROJECTS */

#projects a{
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 4% auto;
}
#projects a .description{
	position: absolute;
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	font-size: 0.8em;
	color: white;
	padding: 10px;
	left: 0;
	bottom:-80px;
	z-index: 10;
}
#projects a:hover .description{
	bottom: 0;
}
#projects img, #projects a .description{
	transition: .3s;
}
#projects:hover img{
	opacity: .5;
}
#projects a:hover img{
	opacity: 1;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* CONTACT ME */

.form-group{
	width: 80%;
	margin: 0 auto;
}
.form-group input, .form-group textarea{
	margin-bottom: 3%;
	padding: 10px;
	font-size: 90%;
	line-height: 120%;
	height: auto;
	background-color: rgba(255,255,255, .5);
}
.form-group button{
	width: 50%;
	margin: 2% auto;
	transition-duration: .3s;
}
.shadow{
	box-shadow: 3px 3px 5px #868484;
}
.form-group button:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* FOOTER */

.social_icons{
	width: 80%;
	margin: 3% auto;
	text-align: center;
}
.social_icons i{
	color: #9d9d9d;
	margin-right: 10px;
	transition: .3s;
}
.social_icons a:hover i{
	color: #31b0d5;
	-webkit-animation-name: shake;
	animation-name: shake;
}

@media only screen and (max-width: 767px){
	.spin{font-size: 115%; margin-left: -2px;}
	.drop{font-size: 90%;}
	.row{margin-left: 0; margin-right: 0;}
	section{padding: 2% 0 4%;}
	.about p{font-size: 100%; padding: 2% 1%;}
	.form-group input, .form-group textarea{margin-bottom: 5%;}
	.social_icons i{font-size: 150%;}
}
@media only screen and (max-width: 480px){
	.spin{font-size: 90%; margin-left: -7px;}
	.drop{font-size: 70%;}
}

/* ANIMATE */

.animated {
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@-webkit-keyframes bounce {
  from, to {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  70% {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

}

@keyframes bounce {
  from, to {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  70% {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
      transform-origin: center bottom;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(0, 0, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes spin{
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 0, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes drop {
 from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes drop{
 from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
